/*Stop the navbar covering the content*/
body { 
    padding-top: 65px; 
}

.file-button{
    margin-right: 15px; 
}

.scroll {
    overflow-y: auto;
}

.story-block{
    margin-top: 10px;
    margin-bottom: 10px;

    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;

    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 5px;

    position: relative;
}

.btn-story-block{
    margin: 5px;
}

.trash-button{
    position:absolute;
    top:10px;
    right:30px;
}
.edit-button{
    position:absolute;
    top:10px;
    right:80px;
}

.btn-add{
    border-radius: 100%;
}

.text-block{
    padding-left: 10px;
    padding-bottom: 5px;
}

.chart-preview{
    width: 50px;
}

select.block-type{
    font-weight: bold;
}

button.interesting-data{
    margin-bottom: 30px;
}
