/*Stop the navbar covering the content*/
body { 
    padding-top: 65px; 
}

.file-button{
    margin-right: 15px; 
}

.scroll {
    overflow-y: auto;
}

.sparkline {
    cursor: pointer;
}

.modalSparkline {
    cursor: auto;
}

#modalSparkline{
    max-width: 800px;
    max-height: 600px;
}

.story-block{
    margin-top: 10px;
    margin-bottom: 10px;

    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;

    padding-top: 10px;
    padding-bottom: 5px;

    position: relative;
}

.trash-button{
    position:absolute;
    right:30px;
}

.btn-add{
    border-radius: 100%;
}