<div id="analysis" style="display: none;">

  <div class="row" style="height: {{page.content_height}}px;">
    <div class="col h-100">
      <div class="card h-100">
        <h6 class="card-header">Data Analysis</h6>
          <div class="card-body scroll" id="data-analysis"></div>
      </div>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col">
      <a class="btn btn-lg btn-secondary" href="#" role="button" onClick="switchView('data');">Back</a>
    </div>
    <div class="col" align="right">
      <a class="btn btn-lg btn-primary" href="#" role="button" onClick="switchView('story');">Continue</a>
    </div>
  </div>
</div>