<div id="data">

  <input type="file" class="form-control-file" id="file-upload" accept=".csv" style="display:none">

  <div class="row" style="height: 600px;">
    <div class="col-9 h-100">
      <div class="card h-100">
        <h6 class="card-header">Data View</h6>
            <div class="card-body scroll text-centre" id="data-view">
              <p>To begin, upload a .CSV file</p>
              <a class="btn btn-lg btn-primary file-button" href="#" onClick="$('#file-upload').click(); return;" role="button"><i class="fas fa-file-upload"></i>&nbsp;Upload</a>
              <!-- Data overview will be generated here -->
            </div>
      </div>
    </div>

    <div class="col-3 h-100">
      <div class="card h-100">
        <h6 class="card-header">Dependencies</h6>
        <div class="card-body scroll text-centre" id="dependencies">
          <!-- Dependencies will be generated here -->
        </div>
      </div>
    </div>
  </div>

  <br/>

  <div id="continue-row" class="row" align="center" style="display: none;">
    <a class="btn btn-lg btn-primary" href="#" role="button" onClick="validateData();">Create Story</a>
    &nbsp;&nbsp;
    <a class="btn btn-secondary file-button" href="#" onClick="$('#file-upload').click(); return;" role="button"><i class="fas fa-file-upload"></i>&nbsp;Change Datafile</a>
  </div>

</div>