<div id="data" class="showOnLoad" style="display: none;">

  <input type="file" class="form-control-file" id="file-upload" accept=".csv" style="display:none">

  <div class="row" style="height: {{page.content_height}}px;">
    <div class="col-9 h-100">
      <div class="card h-100">
        <h6 class="card-header">Data View</h6>
            <div class="card-body scroll" id="data-view">
              <p>To begin, upload a .CSV file</p>
              <a class="btn btn-lg btn-primary file-button" href="#" onClick="$('#file-upload').click(); return;" role="button"><i class="fas fa-file-upload"></i>&nbsp;Upload</a>
              <!-- Data overview will be generated here -->
            </div>
      </div>
    </div>

    <div class="col-3 h-100">
      <div class="card h-100">
        <h6 class="card-header">Dependencies</h6>
        <div class="card-body scroll" id="dependencies">
          <form id="dependencyForm" style="display: none;">
            <div class="form-group">
              <label class="form-check-label" for="independent-dropdown">
                Independent
              </label>
              <select class="custom-select" id="independent-dropdown">
              </select>
            </div>
            <div class="form-group">
              <label class="form-check-label" for="dependent-dropdown">
                Dependent
              </label>
              <select class="custom-select" id="dependent-dropdown">
              </select>
            </div>
            <div class="form-group form-inline" align="right">
              <button class="btn btn-secondary" onClick="revertDependencies();">Revert</button>&nbsp;&nbsp;
              <button class="btn btn-primary" onClick="createDependency();">Apply</button>
            </div>
            <div id="dependency-error" class="invalid-feedback" style="display: none;">
                
            </div>
          </form>

          <ul id="dependency-list">

          </ul>
        </div>
      </div>
    </div>
  </div>

  <br/>

<div id="modalSparkline" class="modal">
  
</div>


  <div id="continue-row" class="row" align="right" style="display: none;">
    <div class="col-12">
      <a class="btn btn-lg btn-secondary" href="#" onClick="if(window.confirm('This will discard any changes to this dataset. Proceed?')){$('#file-upload').click();} return;" role="button"><i class="fas fa-file-upload"></i>&nbsp;Change Datafile</a>
      &nbsp;&nbsp;
      <a class="btn btn-lg btn-primary" href="#" role="button" onClick="switchView('story');">Continue</a>
    </div>
  </div>
</div>


