<div id="export" style="display: none;">
	
	<div class="row" style="height: {{page.content_height}}px;">
	    <div class="col-6 h-100">
	      <div class="card h-100">
	        <h6 class="card-header">Export Settings</h6>
	            <div class="card-body scroll">
	            	<form id="exportForm">
			            <div class="form-group">
					      <label for="export-file">Filename</label>
					      <input class="form-control" id="export-file" aria-describedby="fileHelp" placeholder="datastory">
					      <small id="fileHelp" class="form-text text-muted">Input the name of the file you would like to export your Data Story to</small>
					    </div>
					    <div class="form-group">
			              <label class="form-check-label" for="export-format">
			                Format
			              </label>
			              <select class="custom-select export-form" id="export-format">
			                <option value="raw-html" selected>Embeddable HTML (.html)</option>
			                <option value="magazine-html">Magazine-style HTML (.html)</option>
			                <option value="slide-html">Slide-style HTML (.html)</option>
			                <option value="story">DataStory (.story)</option>
			              </select>
			            </div>
			          </form>
	            </div>
	      </div>
	    </div>

	    <div class="col-6 h-100">
	      <div class="card h-100">
	        <h6 class="card-header">Preview</h6>
	            <div class="card-body scroll">
	            	<form>
	            		  <div class="form-group">
						    <textarea class="form-control" id="export-preview" rows="15" readonly></textarea>
						  </div>
						</form>
	            </div>
	      </div>
	    </div>
	</div>
	<br>
  <div class="row">
    <div class="col">
      <a class="btn btn-lg btn-secondary" href="#" role="button" onClick="switchView('story');">Back</a>
    </div>
    <div class="col" align="right">
      <a class="btn btn-lg btn-primary" href="#" role="button" onClick="downloadStory($('#export-preview').val(), $('#export-file').val(), $('#export-format').val());"><i class="fas fa-file-download"></i>&nbsp;Export</a>
    </div>
  </div>

</div>