<section id="footer">
  </hr>
  <div class="row">
    <div class="col-xs-1 col-sm-1 col-md-1 mt-2 mt-sm-2 text-center">
      <a href="http://datastories.co.uk"><img src="static/images/logos/datastories-small.png" alt="Data Stories"></a>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-10 mt-2 mt-sm-2 text-center">
      <p>The Data Storytelling Tool was created as part of</p>
      <p><a href="http://datastories.co.uk/">Data Stories</a> (<a href="https://www.epsrc.ac.uk/">EPSRC</a> Project No. <a href="http://gow.epsrc.ac.uk/NGBOViewGrant.aspx?GrantRef=EP/P025676/1">EP/P025676/1</a>) and <a href="https://theybuyforyou.eu/">They Buy For You</a> (<a href="https://ec.europa.eu/programmes/horizon2020/">EU Horizon 2020</a> research project No. <a href="https://cordis.europa.eu/project/rcn/213115_en.html">780247</a>)</p>
      <p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="https://www.soton.ac.uk" target="_blank">University of Southampton</a></p>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 mt-2 mt-sm-2 text-center">
      <a href="http://theybuyforyou.eu"><img src="static/images/logos/tbfy-small.png" alt="They Buy For You"></a>
    </div>
  </div>  
</section>