<div id="interest" style="display: none;">
	
	<div class="row" style="height: {{page.content_height}}px;">
	    <div class="col-6 h-100">
	      <div class="card h-100">
	        <h6 class="card-header">Highlight Points of Interest/Hypothesis</h6>
	            <div class="card-body scroll text-center">
	            	<form id="interestForm">
			            <div class="form-group">
			              <label class="form-check-label" for="interest1-dropdown">
			                I think:
			              </label>
			              <select class="custom-select" id="interest1-dropdown">
			                <option selected>Choose a field</option>
			              </select>
			            </div>
			            <div class="form-group">
			              <select class="custom-select" id="operator-dropdown">
			                <option>correlates positively with</option>
			                <option>correlates negatively with</option>
			                <option>correlates positively with</option>
			                <option>correlates positively with</option>
			                <option>correlates positively with</option>
			              </select>
			            </div>
			            <div class="form-group">
			              <select class="custom-select" id="interest2-dropdown">
			                <option selected>Choose a field</option>
			              </select>
			            </div>
			            <div class="form-group form-inline">
			              <button class="btn btn-secondary" onClick="">Revert</button>&nbsp;&nbsp;
			              <button class="btn btn-primary" onClick="">Apply</button>
			            </div>
			          </form>
	            </div>
	      </div>
	    </div>

	    <div class="col-6 h-100">
	      <div class="card h-100">
	        <h6 class="card-header">Detected Points of Interest</h6>
	            <div class="card-body scroll text-center">
	            	<p>This section should (ideally) detect particular trends/correlations/spikes in the data, and highlight them here</p>
	            	<p>(Perhaps with a selector to change the required strength of correlation, etc.?)</p>
	            </div>
	      </div>
	    </div>
	</div>
	<br>
	<div class="row">
	    <div class="col">
	      <a class="btn btn-lg btn-secondary" href="#" role="button" onClick="switchView('data');">Back</a>
	    </div>
	    <div class="col" align="right">
	      <a class="btn btn-lg btn-primary" href="#" role="button" onClick="switchView('template');">Continue</a>
	    </div>
	  </div>


</div>