<div id="interest" style="display: none;">
	
	<div class="row" style="height: {{page.content_height}}px;">
	    <div class="col-6 h-100">
	      <div class="card h-100">
	        <h6 class="card-header">Select Points of Interest</h6>
	            <div class="card-body scroll text-centre">

	            </div>
	      </div>
	    </div>

	    <div class="col-6 h-100">
	      <div class="card h-100">
	        <h6 class="card-header">Detected Points of Interest</h6>
	            <div class="card-body scroll text-centre">

	            </div>
	      </div>
	    </div>
	</div>

	<div class="row" align="right">
	    <div class="col-12">
	      <a class="btn btn-lg btn-primary" href="#" role="button" onClick="validateInterests();">Continue</a>
	    </div>
	  </div>


</div>