<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Data Storytelling Tool</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" id="nav-data">
        <a class="nav-link" href="#" onClick="switchView('data');">Data</a>
      </li>
      <li class="nav-item" id="nav-interest">
        <a class="nav-link disabled" onClick="switchView('interest');" href="#">Interest</a>
      </li>
      <li class="nav-item" id="nav-template">
        <a class="nav-link disabled" onClick="switchView('template');" href="#">Template</a>
      </li>
      <li class="nav-item" id="nav-story">
        <a class="nav-link disabled" onClick="switchView('story');" href="#">Story</a>
      </li>
      <li class="nav-item" id="nav-export">
        <a class="nav-link disabled" onClick="validateStory();" href="#">Export</a>
      </li>
    </ul>
  </div>
</nav>