<div id="story" style="display: none;">

  <div class="row" style="height: {{page.content_height}}px;">

    <div class="col h-100">
      <div class="card h-100">
        <h6 class="card-header">Story Sections</h6>
        <div class="card-body scroll">
          <div class="form-group">
            <label for="export-title">Title</label>
            <input class="form-control export-form" id="export-title" placeholder="Story Title">
          </div>
          <div class="form-group">
            <label for="export-author">Author(s)</label>
            <input class="form-control export-form" id="export-author" aria-describedby="authorHelp" placeholder="Anon.">
            <small id="authorHelp" class="form-text text-muted">Optional</small>
          </div>
          <div id="story-sections" class="text-center">
          </div>
        </div>
      </div>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col">
      <a class="btn btn-lg btn-secondary" href="#" role="button" onClick="switchView('data');">Back</a>
    </div>
    <div class="col" align="right">
      <a class="btn btn-lg btn-primary" href="#" role="button" onClick="switchView('export');">Continue</a>
    </div>
  </div>
</div>