<div id="story" style="display: none;">

<!--   <div class="row">
    <div class="col">
      <a class="btn btn-lg btn-secondary" href="#" role="button" onClick="switchView('template');">Back</a>
    </div>
    <div class="col" align="right">
      <a class="btn btn-lg btn-primary" href="#" role="button" onClick="validateStory();">Continue</a>
    </div>
  </div>

  <br> -->

  <div class="row" style="height: {{page.content_height}}px;">

    <div class="col h-100">
      <div class="card h-100">
        <h6 class="card-header">Story Sections</h6>
        <div id="story-sections" class="card-body scroll text-center">

        </div>
      </div>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col">
      <a class="btn btn-lg btn-secondary" href="#" role="button" onClick="switchView('template');">Back</a>
    </div>
    <div class="col" align="right">
      <a class="btn btn-lg btn-primary" href="#" role="button" onClick="switchView('export');">Continue</a>
    </div>
  </div>
</div>