<div id="template" style="display: none;">
	
	<div class="row" style="height: {{page.content_height}}px;">
	    <div class="col-2 h-100">
	      <div class="card h-100">
	        <h6 class="card-header">Recommended Templates</h6>
	            <div class="card-body scroll text-centre">

	            	<div class="row">
	    				<div class="col">
	    					<img src="static/images/placeholder.jpg">
	    					<br>
	    					<img src="static/images/placeholder.jpg">
	    					<br>
	    					<img src="static/images/placeholder.jpg">
	    				</div>
	    			</div>

	            </div>
	      </div>
	    </div>

	    <div class="col-10 h-100">
	      <div class="card h-100">
	        <h6 class="card-header">Browse All</h6>
	            <div class="card-body scroll text-centre">
	            	<div class="row">
	    				<div class="col">
	    					<img src="static/images/placeholder.jpg">
	    				</div>
	    				<div class="col">
	    					<img src="static/images/placeholder.jpg">
	    				</div>
	    				<div class="col">
	    					<img src="static/images/placeholder.jpg">
	    				</div>
	    			</div>
	    			<br>
	    			<div class="row">
	    				<div class="col">
	    					<img src="static/images/placeholder.jpg">
	    				</div>
	    				<div class="col">
	    					<img src="static/images/placeholder.jpg">
	    				</div>
	    				<div class="col">
	    					<img src="static/images/placeholder.jpg">
	    				</div>
	    			</div>
	    			<br>
	    			<div class="row">
	    				<div class="col">
	    					<img src="static/images/placeholder.jpg">
	    				</div>
	    				<div class="col">
	    					<img src="static/images/placeholder.jpg">
	    				</div>
	    				<div class="col">
	    					<img src="static/images/placeholder.jpg">
	    				</div>
	    			</div>
	    			<br>

	            </div>
	      </div>
	    </div>
	</div>
	<br>
	<div class="row">
		<div class="col">
	      <a class="btn btn-lg btn-secondary" href="#" role="button" onClick="switchView('interest');">Back</a>
	    </div>
	    <div class="col" align="right">
	      <a class="btn btn-lg btn-primary" href="#" role="button" onClick="validateTemplate();">Continue</a>
	    </div>
	  </div>

</div>